/* GLOBAL COLOR SCHEME */
:root {
    --red: #d50000;
    --black: #1a1d24;
    --white: #fffcfc;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
}


/* TOP NAVIGATION BAR */
.top-nav {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    background-color: var(--black);
    color: var(--white);
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 1000;
}

.top-nav img {
    height: 80px;
}

.main-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.main-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.main-links a.active {
    border-bottom: 3px solid var(--red);
    padding-bottom: 5px;
}

.main-links a:hover {
    color: var(--red);
}


/* HEADER SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero img {
    width: 130%;
    height: 125%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 120px;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1),
                 0 0 25px rgba(0, 0, 0, 0.95),
                 0 0 30px rgba(0, 0, 0, 0.9),
                 0 0 35px rgba(0, 0, 0, 0.85),
                 0 0 40px rgba(0, 0, 0, 0.8),
                 0 0 45px rgba(0, 0, 0, 0.75),
                 0 0 50px rgba(0, 0, 0, 0.7);
}