/* GLOBAL COLOR SCHEME */
:root {
    --red: #d50000;
    --black: #1a1d24;
    --white: #f9f9f9;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* HTML */
html {
    scroll-behavior: smooth;
}


/* TOP NAVIGATION BAR */
.top-nav {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.top-nav img {
    height: 80px;
}

.main-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.main-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.main-links a.active {
    border-bottom: 3px solid var(--red);
    padding-bottom: 5px;
}

.main-links a:hover {
    color: var(--red);
}


/* HEADER SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.hero img {
    width: 130%;
    height: 125%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}


/* CATEGORY NAVIGATION BAR */
.category-nav {
    background-color: var(--red);
    padding: 12px 0;
}

.category-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-nav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.category-nav li a:hover {
    text-decoration: underline;
}


/* CARS */
.car-section {
    padding: 40px;
    margin: 0 40px;
}

/* Line */
.section-line {
    width: 35%;
    height: 12px;
    margin: 0 -80px;
    background-color: var(--red);
    margin-bottom: 10px;
    position: relative;
}

/* Right triangle at end of line */
.section-line::after {
    content: "";
    position: absolute;
    right: -24px;
    border-top: 12px solid var(--red);
    border-right: 24px solid transparent;
}

.car-section h1 {
    font-size: 28px;
    color: var(--black);
    margin-bottom: 25px;
}

.car-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.car-grid ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;      /* spacing between cards */
    padding: 0;
}

.car-grid li {
    flex:none;
    display: flex;
    justify-content: justify;
}

.car-card {
    text-decoration: none;
}

.car-image-wrapper {
    position: relative;
    width: 235px;
}

.car-image-wrapper img {
    width: 150%;
    display: block;
}

.car-image-wrapper span {
    position: absolute;
    left: 75%;
    transform: translate(-50%, -25%);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    white-space: nowrap;        /* prevents line breaks */
}
